<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Restaurants Tonight</title>
</head>
<body>
  <div class='error-wrapper'>
    <img class='img-background' src="{{ url_for('static', filename='img/background.jpg') }}" />
    <div class='error-box'>
      <div class='text'>
        Something went wrong on our end.
      </div>
      <p><a href="{{ url_for('index') }}">Back to Homepage</a></p>
    </div>
  </div>
</body>