<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- <script src="{{ url_for('static',filename='js/jquery-latest.js') }}"></script> -->
  <script src="{{ url_for('static',filename='js/tablesorter.js') }}"></script>
  <script src="{{ url_for('static',filename='js/script.js') }}"></script>
  <script>
    $(document).ready(function() {
      Restaurants.init({{ restaurant_names|safe }})
    })
  </script>
</head>
<body>
  <div class='page-one-wrapper'>
    <div class='overlay'>
    </div>
    <div class='restaurants-wrapper'>
      <div class='grey-box top-box'>
        Restaurants Tonight
      </div>
      <div class="grey-box bottom-box">
        <div class='words'>
          Let's get you out of your comfort zone!
        </div>
        <form class='name-selector' method="POST">
          <input name="text" placeholder="Restaurant" class='input-text restaurant'></input>
          <span class='at'> at </span>
          <input name='text' placeholder="San Francisco" class='input-text' disabled></input>
          <button type="submit" class='search'>
            <img src="{{ url_for('static',filename='img/search.png') }}" />
            <div class="loader"></div>
          </button>
          <!-- <button type="submit" class="submit-btn">Submit</button> -->
        </form>
      </div>
    </div>
    <img src="{{ url_for('static', filename='img/page1.jpg') }}" />
  </div>
</body>


